section.bg-image {
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #c4c4c4;
  filter: brightness(1);
  padding: 1.875rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}

section h1 {
  color: var(--white);
  text-align: left;
}

section.bg-image::after {
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  opacity: 0.4;
  height: 100%;
  z-index: -1;
  background: var(--black);
  position: absolute;
}
